#background {
    background: url(img/banner_D.jpg);
    background-position: center;
    background-size: cover;
    height: 225px; width: 100%;
 }
.titulo {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 25pt
 }
.main {
    width: 80%;
 }
.texto {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}
.frase{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 20px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content:center
 }
 .box{
    padding-left: 1%;
    padding-right: 1%;
    height: 15%;
    width: 15%;
}
 @media (min-width: 300px) {
    #background { height: 220px; }
    .layer { padding-left: 10%; padding-right: 10%;}
    .titulo { padding-left: 3%; padding-right: 3%; font-size: 30pt; }
    .texto { font-size: 12pt; }
  }
 @media (min-width: 480px) {
    #background { height: 220px; }
    .layer { padding-left: 10%; padding-right: 10%;}
    .titulo { padding-left: 3%; padding-right: 3%; font-size: 35pt; }
    .texto { font-size: 12pt; }
  }
  
  @media (min-width: 750px) {
    #background { height: 200px; }
    .layer { padding-left: 10%; padding-right: 10%; }
    .titulo { padding-left: 3%; padding-right: 3%; font-size: 40pt; }
    .texto { font-size: 15pt; }
  }
  
  @media (min-width: 950px) {
    #background { height: 180px; }
    .layer { padding-left: 10%; padding-right: 10%; }
    .titulo { padding-left: 1%; padding-right: 1%; font-size: 50pt; }
    .texto { font-size: 18pt; }
  }